@*<form>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label asp-for="">Start of the shift</label>
            <input type="text" class="form-control is-valid" id="validationServer01" value="Mark" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="validationServer02">End of the shift</label>
            <input type="text" class="form-control is-valid" id="validationServer02" value="Otto" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
    </div>
</form>

GroupId = groupId,
ShiftStatus = ShiftStatus.New,
Start = start,
End = end,
BonusPayment = bonusPayment,*@