<h1 class="text-center"><strong>There are no available groups for which you can create a schedule!</strong></h1>
<h3 class="text-center"><strong>
    Please, create more groups: <a class="btn btn-primary" asp-controller="Group" asp-action="Create">Create Group</a>
</strong></h3>