@using PlanShift.Web.ViewModels.People;
@model EmployeeListViewModel<EmployeeViewModel>;

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Employee Name</th>
        <th scope="col">Position</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.Employees)
        {
            <tr>
                <td>@employee.UserFullName</td>
                <td>@employee.Position</td>
                <td>
                    <form method="post" asp-controller="EmployeeGroup" asp-action="Remove">
                        <input type="hidden" name="id" value="@employee.Id"/>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>