#upcomingShiftsCount {
    list-style: none;
    color: #00bfff;
    font: bold 24pt helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 25px;
}

#openShiftsCount {
    list-style: none;
    color: #FF0000;
    font: bold 24pt helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 25px;
}

#pendingShiftsCount {
    list-style: none;
    color: #9932cc;
    font: bold 24pt helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 25px;
}

#takenShiftsCount {
    list-style: none;
    color: #A9A9A9;
    font: bold 24pt helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 25px;
}