<h1 class="text-lg-center">Build staff schedule fast with our App</h1>
<br/>
<img class="rounded mx-auto d-block" src="https://www.timetac.com/media/page/en-sp-overview.png?v=dudpk4ILssqAEgeL_a1HXQ" alt="PlanDayPlanner easy and effective" />
<br/>
<button type="button" asp-area="Identity" asp-page="/Account/Register" name="GetStarted" class="btn-info">Get Started</button>