<div class="container">
    <div class="row">
        <div class="col-6">
            <h1 class="text-center text-danger">Plan your work schedule, easy and effective!</h1>

            <div class="space" id="space"></div>


            <div class="container text-center">
                @if (this.User.Identity.IsAuthenticated)
                {
                    <h3 class="text-center">See your schedules! </h3>

                    <a class="btn btn-lg btn-success justify-content-center mx-auto" asp-controller="Business" asp-action="Pick">See your schedule!</a>
                }
                else
                {
                    <h3 class="text-center"> Login to see your schedules! </h3>


                    <a class="btn btn-lg btn-success justify-content-center mx-auto" asp-area="Identity" asp-page="/Account/Login">See your schedule!</a>
                }
            </div>

            <div class="space" id="space"></div>

            <h3 class="text-center"> Register a business! </h3>
            <div class="container text-center">
                <a class="btn btn-lg btn-primary" asp-controller="Business" asp-action="Register">Register Business!</a>
            </div>

        </div>
        <div class="col-6">
            <img src="~/pics/Front-page.png" alt="PlanDayPlanner easy and effective" />
        </div>
    </div>
</div>