@using PlanShift.Web.ViewModels.ShiftApplication;
@model ShiftApplicationListViewModel;

<vc:shift shift-id="@this.Model.ShiftId"></vc:shift>

<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Employee Name</th>
            <th scope="col">Created On</th>
            <th scope="col">Accept</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var application in this.Model.Applications)
        {

        <tr>
            <td>@application.EmployeeName</td>
            <td>@application.CreatedOn</td>
            <td>
                <a asp-controller="ShiftApplication" asp-action="Approve" asp-route-shiftApplicationId="@application.Id">
                    <input class="btn btn-sm btn-primary btn-sm" value="Approve" />
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
