@model string;
<vc:shift shift-id="@this.Model"></vc:shift>

<br /> 
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger text-center">
        <div asp-validation-summary="All" class="text-danger text-center"></div>
    </div>
}

<form asp-controller="ShiftChange" asp-action="ApplyForShiftChange" method="post">
    <!-- Input and Submit elements -->
    <input type="hidden" id="shiftId" name="shiftId" value="@this.Model" />
    <button type="submit" class="btn btn-primary lg">Apply For Change</button>
</form>

