@using PlanShift.Web.ViewModels.Business;
@model BusinessListViewModel

@{
    this.ViewData["Title"] = $"All businesses!";
}

<h1 class="text-center">Your businesses!</h1>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Business EmployeeName</th>
            <th scope="col">Business Type</th>
            <th scope="col">Groups</th>
            <th scope="col">Schedule</th>
            <th scope="col">Manage</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var business in Model.Businesses)
        {
            <tr>
                <td>@business.Name</td>
                <td>@business.BusinessTypeName</td>
                <td>
                    @{
                        //TODO: Research how to fix this dropdown
                    }
                    @*<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <div class="btn-group" role="group">
                            <button shiftChangeId="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a asp-controller="Group" asp-action="CreateShiftChangeAsync" asp-route-businessId="@business.Id" class="dropdown-item">CreateShiftChangeAsync</a>
                                <a asp-controller="Group" asp-action="All" asp-route-businessId="@business.Id" class="dropdown-item">All</a>
                            </div>
                        </div>
                    </div>*@
                    <div class="btn-group" role="group" aria-label="group actions">
                        <a asp-controller="Group" asp-action="Create"  class="btn btn-primary btn-sm">Create Group</a>
                        <a asp-controller="Group" asp-action="All"  class="btn btn-primary btn-sm">All</a>
                        <a asp-controller="Shift" asp-action="Schedule"  class="btn btn-primary btn-sm">Schedule</a>
                    </div>
                </td>
                <td>
                    <a asp-controller="Business" asp-action="Index" class="btn btn-primary btn-sm">Manage</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
