@model PlanShift.Web.ViewModels.Business.BusinessListViewModel;

@{
    this.ViewData["Title"] = $"All businesses!";
}

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Business Name</th>
        <th scope="col">Business Type</th>
        <th scope="col">Groups</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var business in Model.Businesses)
        {
        <tr>
            <td>@business.Name</td>
            <td>@business.BusinessTypeName</td>
            <td>
                <a asp-controller="Group" asp-action="Create" asp-route-businessId="@business.Id" class="btn btn-primary btn-sm">Create</a>
                <a asp-controller="Group" asp-action="All" asp-route-businessId="@business.Id" class="btn btn-success btn-sm">All</a>
            </td>
        </tr>
        }
    </tbody>
</table>
