@using PlanShift.Web.ViewModels.Business;

@model BusinessIndexViewModel;

@section Styles{
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" asp-append-version="true" />
    <link href="css/custom.css" rel="stylesheet" asp-append-version="true" />
}

@if (!this.ViewData.ModelState.IsValid)
{
    foreach (var value in this.ViewData.ModelState.Values)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @value.Errors[0];
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

@if (Model.IsScheduleManagerOrAdmin)
{
<div class="row">
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <h5 class="text-center">Pending Actions</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a class="btn btn-outline-info float-right" asp-controller="ShiftChange" asp-action="All">@Model.ShiftChangesCount Swap requests</a></li>
                <li class="list-group-item"><a class="btn btn-outline-info float-right" asp-controller="ShiftApplication" asp-action="All">@Model.ShiftApplicationsCount Shifts requests</a></li>
            </ul>
        </div>
    </div>

</div>
}

<div class=".space"></div>
<div class="d-flex justify-content-center">
    <ul id="shiftEventsCount" class="list-group list-group-horizontal-sm col-sm-9">
        <li id="upcomingShifts" class="list-group-item">
            <span id="upcomingShiftsCount">0</span> Upcoming shifts
        </li>
        <li id="openShifts" class="list-group-item">
            <span id="openShiftsCount">0</span> Open shifts
        </li>
        <li id="pendingShifts" class="list-group-item">
            <span id="pendingShiftsCount">0</span> Swap requests
        </li>
        <li id="takenShifts" class="list-group-item">
            <span id="takenShiftsCount">0</span> Taken shifts
        </li>
    </ul>
</div>



<partial name="_MonthCalendarModalPartial" />
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" asp-append-version="true"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js" asp-append-version="true"></script>
    <script src="~/js/calendar.js" asp-append-version="true"></script>
}