@using PlanShift.Web.ViewModels.Business;
@using PlanShift.Web.Controllers

@model BusinessIndexViewModel;

@section Styles{
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
    <link href="css/custom.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <h5 class="text-center">Pending Actions</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a class="btn btn-outline-info float-right" asp-controller="ShiftChange" asp-action="All">@Model.ShiftChangesCount Swap requests</a></li>
                <li class="list-group-item"><a class="btn btn-outline-info float-right" asp-controller="ShiftApplication" asp-action="All">@Model.ShiftApplicationsCount Shifts requests</a></li>
            </ul>
        </div>
    </div>
</div>

<br />
<div class="d-flex justify-content-center">
    <ul id="shiftEventsCount" class="list-group list-group-horizontal-sm col-sm-9">
        <li id="upcomingShifts" class="list-group-item">
            <span id="upcomingShiftsCount">0</span> Upcoming shifts
        </li>
        <li id="openShifts" class="list-group-item">
            <span id="openShiftsCount">0</span> Open shifts
        </li>
        <li id="pendingShifts" class="list-group-item">
            <span id="pendingShiftsCount">0</span> Swap requests
        </li>
    </ul>
</div>



<partial name="_FullCalendarModalPartial" />

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script src="~/js/site.js"></script>
}