@using PlanShift.Web.ViewModels.Business;

@model BusinessIndexViewModel;

@section Styles{
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" asp-append-version="true" />
    <link href="css/custom.css" rel="stylesheet" asp-append-version="true" />
}

@if (!this.ViewData.ModelState.IsValid)
{
    foreach (var value in this.ViewData.ModelState.Values)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @value.Errors[0];
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

@if (Model.IsScheduleManagerOrAdmin)
{
<div class="row">
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <h5 class="text-center">Pending Actions</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a class="btn btn-outline-info float-right" asp-controller="ShiftChange" asp-action="All">@Model.ShiftChangesCount Swap requests</a></li>
                <li class="list-group-item"><a class="btn btn-outline-info float-right" asp-controller="ShiftApplication" asp-action="All">@Model.ShiftApplicationsCount Shifts requests</a></li>
            </ul>
        </div>
    </div>

</div>
}

<div class=".space"></div>
<div class="d-flex justify-content-center">
    <ul id="shiftEventsCount" class="list-group list-group-horizontal-sm col-sm-9">
        <li id="upcomingShifts" class="list-group-item">
            <span id="upcomingShiftsCount">0</span> Upcoming shifts
        </li>
        <li id="openShifts" class="list-group-item">
            <span id="openShiftsCount">0</span> Open shifts
        </li>
        <li id="pendingShifts" class="list-group-item">
            <span id="pendingShiftsCount">0</span> Swap requests
        </li>
        <li id="takenShifts" class="list-group-item">
            <span id="takenShiftsCount">0</span> Taken shifts
        </li>
    </ul>
</div>



<partial name="_MonthCalendarModalPartial" />
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" asp-append-version="true"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            var events = [];
            $.ajax({
                type: "GET",
                url: "/api/Calendar?BusinessId=@Model.BusinessId",
                success: function (data) {
                    if (data.upcomingShiftsCount != 0) {
                        $('#upcomingShiftsCount').text(data.upcomingShiftsCount);
                    }
                    if (data.openShiftsCount != 0) {
                        $('#openShiftsCount').text(data.openShiftsCount);
                    }
                    if (data.pendingShiftsCount != 0) {
                        $('#pendingShiftsCount').text(data.endingShiftsCount);
                    }
                    if (data.takenShifts != 0) {
                        $('#takenShiftsCount').text(data.takenShifts);
                    }


                    $.each(data.allShiftsCalendar,
                        function (i, v) {
                            var color = null;
                            if (v.type == 1) {
                                color = '#00bfff';
                            } else if (v.type == 2) {
                                color = '#FF0000';
                            } else if (v.type == 3) {
                                color = '#9932cc';
                            }
                            else if (v.type == 4) {
                                color = '#A9A9A9';
                            }
                            events.push({
                                id: v.id,
                                type: v.type,
                                groupName: v.groupName,
                                description: v.description,
                                start: moment(v.start),
                                end: v.end != null ? moment(v.end) : null,
                                color: color,
                                allDay: false,
                                eventDisplay: 'auto'
                            });
                        });

                    generateCalender(events);
                },
                error:
                    function (error) {
                        alert('failed');
                    }
            });

            function generateCalender(events) {
                $('#calender').fullCalendar('destroy');
                $('#calender').fullCalendar({
                    contentHeight: 420,
                    defaultDate: new Date(),
                    timeFormat: 'HH:mm',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        $('#myModal #groupName').text(calEvent.groupName); //#groupName
                        var $description = $('<div />');
                        $description.append($('<p />').html('<b>Start:</b> ' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
                        if (calEvent.end != null) {
                            $description.append($('<p/>').html('<b>End:</b> ' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                        }
                        $description.append($('<p />').html('<b>Description:</b>' + calEvent.description));
                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal #shiftId').val(calEvent.id);

                        sendShiftToCorrectRoute(calEvent.type);
                        $('#myModal').modal();
                    }
                });
            }

            function sendShiftToCorrectRoute(shiftType) {
                if (shiftType == 2) {
                    $('#shiftActionForm').attr('action', '/ShiftApplication/Apply');
                    $('#shiftActionForm > button').text('Apply');
                } else if (shiftType == 3) {
                    $('#shiftActionForm').attr('action', '/ShiftChange/ShiftSwapRequests');
                    $('#shiftActionForm > button').text('See requests');
                }
                else if (shiftType == 4) {
                    $('#shiftActionForm').attr('action', '/ShiftChange/Apply');
                    $('#shiftActionForm > button').text('Ask for swap');
                }
            }
        })
    </script>
}