@using PlanShift.Web.ViewModels.Business;
@model BusinessRegisterInputModel

@{
    ViewData["Title"] = "Register";

    var businessTypes = Model.BusinessTypes.Select(x => new SelectListItem(x.Name, x.Id.ToString(), x.Id == Model.BusinessTypeId));
}
<h1>Register</h1>

<h4>Business</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessTypeId"></label>
                <select asp-for="BusinessTypeId" asp-items="businessTypes" class="form-control"></select>
                <span asp-validation-for="BusinessTypeId" class="text-danger"></span>
            </div>
            <div>
                <text>You can't find your business type?</text>
            </div>
            <div>
                <a asp-controller="BusinessType" asp-action="Create" class="btn btn-primary btn-sm">Create</a>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
