<div class="row">
<div class="col-12" id="calender"></div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span id="groupName"></span></h4>
            </div>
            <div class="modal-body">
                <p id="pDetails"> </p>
            </div>
            <div class="modal-footer">
                <form id="shiftActionForm" method="get" action="">
                    <input type="hidden" name="shiftid" id="shiftId" value="" />
                    <button type="submit" class="btn btn-primary"></button>
                </form>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>